<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>      
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
<servlet-name>Spots</servlet-name>
<servlet-class>org.Lade.servlets.Spots</servlet-class>
</servlet>

 <servlet>
<servlet-name>DetailSpot</servlet-name>
<servlet-class>org.Lade.servlets.DetailSpot</servlet-class>
</servlet>

<servlet>
<servlet-name>Topos</servlet-name>
<servlet-class>org.Lade.servlets.Topos</servlet-class>
</servlet>

</web-app>